.new-products-card {
    position: relative;
    &__img {
        height: 290px;
    }
    &__bottom {
        left: 20px;
        bottom: 20px;
        position: absolute;
    }
}

@media (max-width: 768px) {
    .new-products-card {
        &__img {
            height: 187px;
        }
        &__bottom {
            left: 15px;
            bottom: 15px;
        }
    }
}