.brand-list {
    gap: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px auto 40px;
    &__item {
        width: 23.5%;
    }
}

@media (max-width: 1300px) {
    .brand-list {
        &__item {
            width: 30%;
        }
    }
}

@media (max-width: 1100px) {
    .brand-list {
        &__item {
            width: 45%;
        }
    }
}

@media (max-width: 600px) {
    .brand-list {
        gap: 20px;
        flex-direction: column;
        &__item {
            width: 100%;
        }
    }
}