//settings
@import 'settings/vars';
@import 'settings/color';
@import 'settings/fonts';
@import 'settings/reset';
@import 'settings/global';

//common blocks
@import '../blocks/header/header';
@import '../blocks/footer/footer';
@import '../blocks/sidebar/sidebar';

//main page blocks