//colors
$white: white;
$black: black;
$gray: #FBFBFB;
$grey: #DADADA;
$blue: blue;
$yellow: #FFF27E;

$main-red: #E20000;
$main-blue: #248FEC;
$main-black: #232323;
$main-yellow: #FBE200;
$main-orange: #E5740B; 

$sub-black: #575757;
$sub-white: #FBFBFB;
$sub-blue: #44A8FF;

$deep-blue: #1E4D79;

//backgrounds

$footer-color: #152A53;

//borders



//box-shadows

//borders
$border-linen: 1px solid #ECECEC;
$border-blue-grey: 1px solid #4B4B4B;

