//colors
$gray: #DADADA; 
$blue: #248FEC;
// $black: #232323;
$white: #ffffff;
$yellow: #FBE200;
$sub-black: #575757;
$snow-white: #FBFBFB;
$footer-color: #152A53;

//borders
$border-linen: 1px solid #ECECEC;
$border-blue-grey: 1px solid #4B4B4B;


//new-colors
    $white: #ffffff;
    $black: #000000;
    $sub-black: #575757;
    $main-blue: #248FEC;
    $main-black: #232323;
    $sub-white: #FBFBFB
