.video-reviews {
    display: flex;
    margin: 90px auto;
    flex-direction: column;

    &__list {
        gap: 30px;
        display: flex;
        flex-wrap: wrap;

        &__item {
            gap: 15px;
            width: 815px;
            display: flex;
            flex-direction: column;

            &-info {
                &__title {
                    font-size: 14px;
                    line-height: 18px;
                    color: var(--sub-black-text, #575757);
                }

                &__subtitle {
                    width: 700px;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 40px;
                    color: #141B2B;
                }
            }
        }
    }

    .wrapper__header {
        margin-bottom: 30px;
    }

}

@media (max-width: 480px) {
    .video-reviews {
        margin: 40px auto;

        &__list {
            flex-direction: column;

            &__item {
                gap: 15px;
                width: 100%;
                flex-direction: column;

                &-info {
                    &__title {
                        font-size: 12px;
                        line-height: 15px;
                    }

                    &__subtitle {
                        width: 100%;
                        font-size: 18px;
                        line-height: 28px;
                    }
                }
            }
        }

        .wrapper__header {
            margin-bottom: 25px;
        }
    }
}