.model {
    margin-top: 50px;

    &-nav {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        margin-bottom: 27px;

        &::-webkit-scrollbar {
            display: none;
        }

        &__item {
            flex-shrink: 0;
            cursor: pointer;
            font-size: 15px;
            margin-right: 8px;
            padding: 14px 30px;
            border-radius: 4px;
            background: #FAFAFA;
            color: var(--sub-black-text, #575757);

            &--active {
                background: var(--main-blue, #248FEC);
                color: #FFF;
            }
        }
    }

    &-list {
        gap: 20px;
        display: flex;
        flex-wrap: wrap;

        &__item {
            border-radius: 4px;
            background: #FBFBFB;
            padding: 17px 15px 17px 20px;

            a {
                gap: 10px;
                display: flex;
            }

            &-img {
                width: 60px;
                height: 36px;
            }

            &-info {
                width: 115px;

                &__title {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 18px;
                    color: var(--black, #232323);
                    margin: 0 0 4px;
                }

                &__subtitle {
                    margin: 0;
                    font-size: 11px;
                    line-height: 12px;
                    color: var(--main-blue, #248FEC);
                }
            }

            &:hover {
                cursor: pointer;
                background: #FFF;
                box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);

                & .model-list__item-info__title {
                    color: var(--main-blue, #248FEC);
                }

                & .model-list__item-info__subtitle {
                    color: var(--sub-black-text, #575757);
                }
            }
        }
    }
}

.filter-form {
    &__container {
        gap: 0;
        display: flex;
        flex-wrap: wrap;
        &__input {
            box-sizing: border-box;
            border: 0;
            width: 167px;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            padding: 17px 20px;
            color: #969696;
            background: #FFF;
            border-right: 1px solid #DFDFDF;
            border-bottom: 1px solid #DFDFDF;
        }
        &__select {
            width: 415px;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            padding: 17px 20px;
            color: #969696;
            background: #FFF;
            border: 1px solid #DFDFDF;
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        margin: 25px 0 50px;
        &-settings {
            width: 262px;
            display: flex;
            justify-content: space-between;
            margin-right: 448px;
            &__button {
                display: flex;
                align-items: center;
                background: transparent;
                &-img {
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;
                }
                &-text {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    color: var(--black, #232323);
                }
            }
        }
        &-btn-show {
            padding: 18px 34px;
            color: var(--black, #232323);
            font-size: 14px;
            font-weight: 600;
            line-height: 14px;
            border-radius: 4px;
            background: var(--yellow, #FBE200);
        }
    }
}


@media (max-width: 576px) {
    .filter-form {
        &__buttons {
            flex-direction: column;
            margin: 20px 0;
            &-settings{
                width: 100%;
                margin-right: 0;
                margin-bottom: 20px;
            }
            &-btn-show{
                width: 100%;
                padding: 23px 34px;
            }
        }
        &__container{
            &__select{
                width: 100%;
                padding: 17px 15px;
                border-bottom: none;
            }
            &__input{
                padding: 17px 15px;
                border-left: 1px solid #dfdfdf;
                border-top: 1px solid #dfdfdf;
                width: 50%;
                box-sizing: border-box;
                &:nth-last-child(-n+2){
                    display: none;
                }
                &:nth-child(odd){
                    border-left: none;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .model {
        margin-top: 20px;

        &-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 5px;

            &__item {
                gap: 0;
                align-items: center;
                padding: 12px 15px;
                flex-direction: column;

                &:not(:nth-child(-n+10)) {
                    display: none;
                }

                &-img {
                    width: 80px;
                    height: 32px;
                    display: block;
                    margin-bottom: 5px;
                }

                &-info {
                    width: 100%;
                    text-align: center;

                    &__title {
                        margin-bottom: 5px;
                    }
                }
            }
        }

        &-nav {
            margin-bottom: 20px;

            &__item {
                padding: 12px 18px;
            }
        }
    }
}