.taxiCars {
    margin-top: 70px;

    .wrapper__header {
        margin-bottom: 40px;
    }

    .carsGrid__item {
        &-top {
            &_info {
                justify-content: flex-end;
            }
        }

        &-bottom {
            display: flex;
            justify-content: space-between;

            &_right {
                width: 258px;
            }
        }

        &-price {
            display: flex;
            flex-direction: column;
            margin-top: 0;
        }
    }
}

@media (max-width: 480px) {
    .taxiCars {
        margin-top: 40px;

        .wrapper__header {
            margin-bottom: 25px;
        }
    }
}