.usedCars {
    margin-top: 70px;

    .wrapper__header {
        margin-bottom: 40px;
    }
}

@media (max-width: 480px) {
    .usedCars {
        margin-top: 40px;

        .wrapper__header {
            margin-bottom: 25px;
        }
    }
}