.news {
    &__pagintion {
        & .big-title {
            margin-bottom: 30px;
        }
    }
    &__new-products {
        margin: 90px auto 50px;
        & .new-products {
            border: 0;
        }
    }
}

@media (max-width: 768px) {
    .news__new-products {
        margin: 40px auto 0;
    }
}