.news-promotions {
    &__new-products {
        border: 0;
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .news-promotions {
        &__new-products {
            margin-bottom: 0;
        }
    }
}