<div class="centers">
    <p class="centers__title">Сервисные центры</p>
    <ul class="centers__list">
        <li class="centers__list__item">
            <a href="#">
                @@include('./centers-card/centers-card.html')
                <!-- /.centers-card -->
            </a>
        </li>
        <li class="centers__list__item">
            <a href="#">
                @@include('./centers-card/centers-card.html')
                <!-- /.centers-card -->
            </a>
        </li>
        <li class="centers__list__item">
            <a href="#">
                @@include('./centers-card/centers-card.html')
                <!-- /.centers-card -->
            </a>
        </li>
        <li class="centers__list__item">
            <a href="#">
                @@include('./centers-card/centers-card.html')
                <!-- /.centers-card -->
            </a>
        </li>
        <li class="centers__list__item">
            <a href="#">
                @@include('./centers-card/centers-card.html')
                <!-- /.centers-card -->
            </a>
        </li>
        <li class="centers__list__item">
            <a href="#">
                @@include('./centers-card/centers-card.html')
                <!-- /.centers-card -->
            </a>
        </li>
        <li class="centers__list__item">
            <a href="#">
                @@include('./centers-card/centers-card.html')
                <!-- /.centers-card -->
            </a>
        </li>
        <li class="centers__list__item">
            <a href="#">
                @@include('./centers-card/centers-card.html')
                <!-- /.centers-card -->
            </a>
        </li>
        <li class="centers__list__item">
            <a href="#">
                @@include('./centers-card/centers-card.html')
                <!-- /.centers-card -->
            </a>
        </li>
        <li class="centers__list__item">
            <a href="#">
                @@include('./centers-card/centers-card.html')
                <!-- /.centers-card -->
            </a>
        </li>
        <li class="centers__list__item">
            <a href="#">
                @@include('./centers-card/centers-card.html')
                <!-- /.centers-card -->
            </a>
        </li>
        <li class="centers__list__item">
            <a href="#">
                @@include('./centers-card/centers-card.html')
                <!-- /.centers-card -->
            </a>
        </li>
    </ul>
</div>