<ul class="company">
    <li class="company__item">
        <a href="#">
            @@include('./company-card/company-card.html')
            <!-- /.company-card -->
        </a>
    </li>
    <li class="company__item">
        <a href="#">
            @@include('./company-card/company-card.html')
            <!-- /.company-card -->
        </a>
    </li>
    <li class="company__item">
        <a href="#">
            @@include('./company-card/company-card.html')
            <!-- /.company-card -->
        </a>
    </li>
    <li class="company__item">
        <a href="#">
            @@include('./company-card/company-card.html')
            <!-- /.company-card -->
        </a>
    </li>
    <li class="company__item">
        <a href="#">
            @@include('./company-card/company-card.html')
            <!-- /.company-card -->
        </a>
    </li>
</ul>