.recommended {
    margin: 70px auto;

    &__list {
        margin-top: 40px;
        gap: 35px;
        display: flex;
        flex-wrap: wrap;

        &__item {
            width: 530px;

            &-promo {
                padding: 30px 70px;
                border-radius: 4px;
                background: #FBFBFB;
                margin-bottom: 15px;

                &__img {
                    width: 100%;
                    height: auto;
                }
            }

            &-info {
                &__title {
                    color: #000;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 34px;
                }

                &__subtitle {
                    color: var(--main-blue, #248FEC);
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .recommended {
        margin: 40px auto;

        &__list {
            margin-top: 25px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 9px;
            grid-row-gap: 10px;

            &__item {
                width: 100%;

                &-promo {
                    padding: 10px 23px;
                    margin-bottom: 5px;

                    &__img {
                        width: 100%;
                        height: auto;
                    }
                }

                &-info {
                    &__title {
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 500;
                    }

                    &__subtitle {
                        font-size: 11px;
                        line-height: 16px;
                    }
                }
            }
        }
    }
}