.new-auto-brand {
    &__img {
        width: 87%;
        height: 300px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 30px;
    }
    &__first {
        margin-bottom: 40px;
    }
    &__second {
        margin-bottom: 70px;
    }
    &__third {
        padding: 70px 0;
        background: #FBFBFB;
        & .medium-title {
            margin-bottom: 25px;
        }
    }
    &__fourth {
        & .block-title {
            margin-bottom: 0;
        }
        margin: 70px auto;
    }
    &__fifth {
        margin-bottom: 70px;
    }
    &__services {
        border-bottom: 1px solid #DFDFDF;
    }
}

@media (max-width: 1100px) {
    .new-auto-brand {
        &__img {
            width: 100%;
            border-radius: 0;
            margin-bottom: 20px;
        }
        &__first {
            margin-bottom: 20px;
        }
        &__second {
            margin-bottom: 40px;
        }
        &__third {
            padding: 25px 0;
        }
        &__fourth {
            margin: 40px auto;
        }
        &__link-see-more {
            display: none;
        }
    }
}


@media (max-width: 768px) {
    .new-auto-brand {
        &__services {
            border-bottom: 0;
            & .wrapper {
                width: 100%;
            }
        }
    }
}