.services {
    background: #FBFBFB;
    padding: 70px 0;
    &__list {
        gap: 74px 126px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 70px;
        &__item {
            gap: 15px;
            width: 320px;
            display: flex;
            &-img {
                width: 45px;
                height: 45px;
            }
            &-info {
                &__title {
                    color: var(--black, #232323);
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px;
                }
                &__subtitle {
                    color: #707070;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .services {
        padding: 40px 0;
        &__list {
            gap: 30px;
            flex-direction: column;
            margin-top: 25px;
            &__item {
                width: 100%;
                align-items: center;
                &-img {
                    width: 34px;
                    height: 34px;
                }
                &-info {
                    &__title {
                        font-size: 16px;
                        line-height: 16px;
                    }
                    &__subtitle {
                        font-size: 13px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
}